<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-content">
            <h1>Welcome to Our Chat Platform</h1>
            <img src="/logo.png" alt="Nazi_swastika_clean.svg.png">
            <p>Your place to chat and connect with friends, family, and communities.</p>
            <div class="button-group">
                <a href="login" class="button login-button">Login</a>
                <a href="signup" class="button signup-button">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
