<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <title>signup</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="auth-container">
        <div class="auth-form" id="otp">
            <h2>verify otp</h2>
            <form>
                <input type="hidden" id="email-display"></p>
                <input type="text" id="otp-input" placeholder="Enter otp" required>

                <button type="submit" class="auth-button">submit</button>
            </form>
        </div>
    </div>
    <script src="/js/verify.js"></script>
</body>
</html>
